h1, h3, p {
	/*font-size: 0.5rem;*/
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-size: 0.8rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Roboto Condensed', sans-serif;
}

input[type="search"] {
    font-family: 'Roboto Condensed', sans-serif;
}

